.wrapper, html, body {
    height:100%;
    margin:0;
}
.wrapper {
    display: flex;
    flex-direction: column;
}

.flexbox {
    flex:2;
    display: flex;
}

button {
    display: block;
    width: 100%;
    font-size: small;
}
.flexbox-vertical {
    flex:2;
    display: flex;
    flex-direction: column;
}

.small-font{
  font-size: small;
}

.flexi {
  background-color: DodgerBlue;
  color: white;
  margin: 1px;
  font-size: calc(0.5vw + 0.5vh);
  text-align: center;
  line-height: 3.0;
}

.flexbox > div {
  background-color: DodgerBlue;
  color: white;
  margin: 1px;
  font-size: calc(0.5vw + 0.5vh);
  text-align: center;
  line-height: 3.5;
}

.border{
  border: 1px solid black
}
.overlay{
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
